{% extends 'main.twig' %}
{% block title %} Welcome, {{ name | split(' ')[0] }} {% endblock %}
{% block body %}panel{% endblock %}

{% block content %}
    <!-- Welcome Message -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 panel_heading">
        <h1>Welcome, {{ name | split(' ')[0] }}</h1>
    </div>

    <!-- Buttons -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 panel_buttons">
        <ul>
            <li>
                <span class="glyphicon glyphicon-upload"></span>
            </li>
            <li>
                <span class="glyphicon glyphicon-folder-close"></span>
            </li>
            <li>
                <label for="logout">
                    <span class="glyphicon glyphicon-log-out"></span>
                </label>
            </li>
        </ul>
    </div>

    <!-- Breadcrumbs -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/panel">Home</a></li>
            {% for breadcrumb in breadcrumbs.path %}
                    <li><a href="/panel/{{ breadcrumbs.directory[loop.index0] }}">{{ breadcrumbs.path[loop.index0] }}</a></li>
            {% endfor %}
        </ol>
    </div>

    <!-- Hidden logout form -->
    <form method="post" action="" class="hidden">
        <input type="submit" name="logout" id="logout">
    </form>
{% endblock %}