$black: #000;
$white: #FFF;
$darkGrey: #303030;
$mediumGrey: #525252;
$lightGrey: #D2D2D2;
$whiteGrey: #ECECEC;
$red: #EE4F43;
$orange: #EEAC43;
$yellow: #EEE843;
$yellowLime: #B8EE43;
$green: #67EE43;
$pastelGreen: #43EE8B;
$seaGreen: #43EEC0;
$lightBlue: #43E0EE;
$babyBlue: #43C0EE;
$purpleBlue: #439CEE;
$purple: #5F43EE;
$pink: #EE43E4;