/* Global Rules */
body {
	background-color: $whiteGrey;
	margin:0;
	padding:0;
}

* {
	outline:none;
}

/* Global Classes */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

/* Error Pages */
#error_page_container {
    position: relative;
    top: 75px;
    padding: 200px 0;

    .jumbotron {
        margin: 0;
        background-color: transparent;

        h1 {
            font-size: 200px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 700;
            margin: 0;
        }
        
        p {
            margin: 0;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            font-size: 36px;
        }
    }
}

/* Header */
.navbar {
    padding: 12.5px;
    background: $red;
    color: $white;
    border: none;
    margin: 0;
    -webkit-box-shadow: 0px 9px 45px -8px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 9px 45px -8px rgba(0,0,0,0.50);
    box-shadow: 0px 9px 45px -8px rgba(0,0,0,0.50);

    .navbar-brand {
        font-family: 'Lobster', cursive;
        color: $white;
        font-size: 36px;

        &:hover {
            color: $white;
        }
    }

    .navbar-toggle {
        border: none;
        .icon-bar {
            color: $white;
            background: $white;
        }

        &:hover {
            background: transparent;
        }
    }

    .navbar-nav > li > a {
        color: $white;

        &:hover {
            cursor: pointer;
            color: $white;
            text-decoration: underline;
        }
    }
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    height: 100%;
    top: 75px;
    margin: 25px 0 0 0;
    color: $white;
    font-family: 'Ubuntu', sans-serif;
    background-color: $darkGrey;
    line-height: 32px;

    h1 {
        display: inline-block;
        margin: 0;
        float: left;
        font-size: 20px;
        line-height: 82px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    p {
        display: inline-block;
        margin: 0;
        line-height: 82px;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        float: right;

        li {
            display: inline-block;
            padding: 22px 0;

            img {
                width: 32px;
                margin: 2.5px;
            }
        }
    }
}

/* Media Queries */
@media all and (max-width: 767px) {
    footer {
        h1 {
            text-align: center;
            float: initial;
            margin: 25px 0 0 0;
            line-height: initial;
            display: block;
        }

        p {
            line-height: initial;
        }

        ul {
            text-align: center;
            float: initial;
            line-height: initial;

            li {
                margin: 0;
            }
        }
    }
}