@import 'https://fonts.googleapis.com/css?family=Lato:300,400,900|Lobster|Ubuntu:300,400,700';

// Fonts
$lobster: 'Lobster', cursive;
$ubuntu: 'Ubuntu', sans-serif;
$lato: 'Lato', sans-serif;

// Weights
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;