body {
    background: $whiteGrey;
    font-family: $ubuntu;
    font-weight: $regular;
    color: $mediumGrey;
}

.hidden {
    display: none;
}

input[type="submit"] {
    cursor: pointer;
}

a {
    cursor: pointer;
}

#message_modal {
    p {
        margin-bottom: 0;
    }
}