body {
    background: $whiteGrey;
    font-family: $ubuntu;
    font-weight: $regular;
    color: $mediumGrey;
}

.hidden {
    display: none;
}

button[type="submit"], input[type="submit"] {
    background: $babyBlue;
    border: none;
    @include fadeBG(200ms);
    @include border-radius(5px);

     &:hover {
        cursor: pointer;
        background: $pastelGreen;
        @include fadeBG(200ms);
    }
}

a {
    cursor: pointer;
}

#message_modal {
    p {
        margin-bottom: 0;
    }
}