#upload_container {
    position: relative;
    top: 75px;
    font-family: 'Ubuntu', sans-serif;
    padding: 75px 0;

    h1 {
        font-size: 36px;
        font-weight: 700;
    }

    hr {
        border-color: $darkGrey;
    }
    
    .name, .title, .email, .description, .facebook, .twitter, .instagram, .flickr, .website {
        margin-top: 15px;
    }

    .form-group {
        margin: 0;
    }

    label {
        font-weight: 400;
    }

    p {
        margin-bottom: 15px;
    }

    hr {
        margin: 15px 0;
    }

    textarea {
        height: 150px;
        resize: vertical;
    }

    .image_selector {
        width: 100%;
        height: 30px;
        background: $babyBlue;
        @include fadeBG(200ms);
        @include border-radius(5px);
        text-align: center;
        color: $white;
        line-height: 30px;

        &:hover{
            background: $pastelGreen;
            @include fadeBG(200ms);
            cursor:pointer;
        }
    }

    input[type="file"] {
        display: none;
    }

    .text {
        p {
            line-height: 30px;
            font-weight: 400;
            margin: 15px 0 0 0;
        }
    }

    input[type="submit"] {
        float: right;
        padding: 0;
        margin: 15px 0 0 0;
        width: 100px;
        border: none;
        height: 30px;
        @include border-radius(5px);
         @include fadeBG(200ms);
        background: $babyBlue;
        color: $white;

        &:hover {
            cursor: pointer;
            @include fadeBG(200ms);
            background: $pastelGreen;
        }
    }

     /* Small Screens */
    @media all and (max-width: 767px) {
        padding: 25px 0;
    }
}