#admin {
   .login_box {
        background: white;
        max-width: 500px;
        margin: 25px auto 15px auto;
        padding: 25px;
        @include border-radius(10px);
        float: none;

        h1 {
            margin: 0 0 25px 0;
            text-align: center;
            font-family: $lobster;
            font-size: 50px;
        }

        hr {
            margin: 0 0 25px 0;
        }

        label {
            margin: 10px 0 0 0;
        }

        input[type="submit"] {
            margin: 15px 0 0 0;
            width: 100%;
            height: 30px;
            border: none;
            background: $babyBlue;
            color: $white;
            @include fadeBG(200ms);
            @include border-radius(5px);

            &:hover {
                background: $pastelGreen;
                @include fadeBG(200ms);
            }
        }
    }

    // Ensure there will always be space around box
    @media screen and (max-width: 550px) {
        .login_box {
            max-width: 88%;
        }
    }
}