#panel {
    input[type="file"] {
        display: none;
    }

    .file_selector {
        width: 100%;
        height: 33px;
        background: $babyBlue;
        line-height: 33px;
        text-align: center;
        @include border-radius(5px);
        color: $white;
        margin-bottom: 0;
        @include fadeBG(200ms);

        &:hover {
            cursor: pointer;
            background: $pastelGreen;
            @include fadeBG(200ms);
        }
    }

    .panel_heading {
        h1 {
            margin: 25px 0 0 0;
            float: left;
        }
    }

    .badge {
        margin: 0 0 0 5px;
    }

    .panel_buttons {
        ul {
            margin: 25px 0 0 0;
            padding: 0;
            list-style: none;
            float: right;

            li {
                display: inline-block;
                margin: 0 10px;
                font-size: 42px;
                height: 0;

                &:hover {
                    cursor: pointer;
                    color: $lightGrey;
                }
            }

            label {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .breadcrumb {
        margin: 25px auto;
    }

    // Center heading and buttons when smaller than 768px
    @media screen and (max-width: 767px) {
        .panel_heading {
            h1 {
                margin: 25px auto;
                text-align: center;
                float: none;
            }
        }

        .panel_buttons {
            ul {
                margin: 0 auto 0 auto;
                float: none;
                text-align: center
            }
        }
    }
}